<ion-header class="ion-header-toolbar">

  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="cancel()" class="custom-back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="responsive-toolbar-title">
      जंत्री आयतन गणना
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="isLoading" [message]="loadingMessage"></ion-loading>
  <ion-grid>
    <ion-row style="display: flex;justify-content: center;">

      <ion-col size="12" size-lg="9">

        <ion-grid>

          <ion-row style="margin-top: 10px;">
            <ion-col size="12">
              <div class="section-card">
                <div class="section-header">
                  <ion-icon name="document-text-outline"></ion-icon>
                  <span>सामाग्री का प्रकार</span>
                </div>
                <div class="section-body">
                  <ion-row>

                    <ion-col size="6" size-lg="2.4">
                      <ion-item lines="none">
                        <ion-checkbox slot="start" value="lattha"
                          (ionChange)="onCheckboxChangeOfJaptiSamanType($event, 'lattha')">
                        </ion-checkbox>
                        <ion-label>लट्ठा</ion-label>
                      </ion-item>
                    </ion-col>

                    <ion-col size="6" size-lg="2.4">
                      <ion-item lines="none">
                        <ion-checkbox slot="start" value="balli"
                          (ionChange)="onCheckboxChangeOfJaptiSamanType($event, 'balli')">
                        </ion-checkbox>
                        <ion-label>बल्ली</ion-label>
                      </ion-item>
                    </ion-col>

                    <ion-col size="6" size-lg="2.4">
                      <ion-item lines="none">
                        <ion-checkbox slot="start" value="chiran"
                          (ionChange)="onCheckboxChangeOfJaptiSamanType($event, 'chiran')">
                        </ion-checkbox>
                        <ion-label>चिरान</ion-label>
                      </ion-item>
                    </ion-col>


                    <ion-col size="6" size-lg="2.4">
                      <ion-item lines="none">
                        <ion-checkbox slot="start" value="bansh"
                          (ionChange)="onCheckboxChangeOfJaptiSamanType($event, 'bansh')">
                        </ion-checkbox>
                        <ion-label>बाँस</ion-label>
                      </ion-item>
                    </ion-col>


                  </ion-row>

                  <!-- SANDEEP -->

                  <ion-row class="kastha-card" *ngIf="isLatthaSelected">
                    <!-- Header row -->
                    <ion-col size="10">
                      <ion-label class="instruction-label">लट्ठा का विवरण </ion-label>
                    </ion-col>

                    <ion-col size="2" class="ion-text-end">
                      <ion-button fill="clear" size="small" (click)="addKasthaInfo()" class="add-btn">
                        <span style="font-size: 16px; font-weight: 600;">जोड़ें</span>
                      </ion-button>
                    </ion-col>

                    <ion-col size="12" *ngIf="listOfKashthaDetail.length > 0">
                      <ion-list lines="none">
                        <ion-grid *ngFor="let row of listOfKashthaDetail; let i = index" class="kastha-row">
                          <ion-row>

                            <!-- लम्बाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">लम्बाई (मीटर)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  [(ngModel)]="row.lambai" type="number" min="0"
                                  (ionInput)="checkMinMaxForRowLatthaLambai(row)">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- गोलाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">गोलाई (सेंटी
                                  मीटर)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  (ionBlur)="checkMinMaxForRowLatthaGolai(row)" [(ngModel)]="row.golai" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- नग -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">संख्या</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box sankhya-input" fill="outline"
                                  (ionInput)="calculateGhanMeterKastha(row)" [(ngModel)]="row.nag" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- घन मीटर -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">आयतन (घ.मी.)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  [value]="row.ghan_meter" readonly></ion-input>
                              </div>
                            </ion-col>

                            <ion-col size="12" size-lg="12" class="ion-text-end">
                              <ion-button fill="clear" color="danger" (click)="removeKashthaInfo(i)">
                                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                              </ion-button>
                            </ion-col>


                          </ion-row>
                        </ion-grid>
                      </ion-list>
                    </ion-col>

                    <ion-col *ngIf="listOfKashthaDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल लट्ठा संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalKashthNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfKashthaDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल आयतन (घ.मी.)</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalKashthGhanMeter }}
                        </ion-label>
                      </div>
                    </ion-col>

                  </ion-row>


                  <!-- BALLI KI JANKARI -->


                  <ion-row class="kastha-card" *ngIf="isBalliSelected">
                    <!-- Header row -->
                    <ion-col size="10">
                      <ion-label class="instruction-label">बल्ली का विवरण</ion-label>
                    </ion-col>

                    <ion-col size="2" class="ion-text-end">
                      <ion-button fill="clear" size="small" (click)="addBalliInfo()" class="add-btn">
                        <span style="font-size: 16px; font-weight: 600;">जोड़ें</span>
                      </ion-button>
                    </ion-col>

                    <ion-col size="12" *ngIf="listOfBalliDetail.length > 0">
                      <ion-list lines="none">
                        <ion-grid *ngFor="let row of listOfBalliDetail; let i = index" class="kastha-row">
                          <ion-row>

                            <!-- प्रजाति चुने -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">प्रजाति</ion-label>
                                <ng-select style="margin-top: 5px;" class="nice-ng-select" [clearable]="false"
                                  placeholder="प्रजाति चुने" [(ngModel)]="row.prajati_type"
                                  [items]="woodListForExceptJalau" bindLabel="name" bindValue="id" [searchable]="false"
                                  appendTo="body"
                                  (change)="setListOfLambaiAndGolaiAccordingToYearAndPrajatiSelection(row)">
                                </ng-select>
                              </div>
                            </ion-col>

                            <!-- लम्बाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">लम्बाई वर्ग(मी.)</ion-label>
                                <ng-select style="margin-top: 5px;" fill="outline" class="nice-ng-select"
                                  [clearable]="false" placeholder="लम्बाई वर्ग चुने" [(ngModel)]="row.lambai"
                                  [items]="listOfLambaiValueBalli" bindLabel="name" bindValue="name"
                                  [searchable]="false" appendTo="body" (change)="getBalliPriceSingleValue(row)">
                                </ng-select>
                              </div>
                            </ion-col>

                            <!-- गोलाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">गोलाई वर्ग
                                  (से.मी.)</ion-label>
                                <ng-select style="margin-top: 5px;" fill="outline" class="nice-ng-select"
                                  [clearable]="false" placeholder="गोलाई वर्ग चुने" [(ngModel)]="row.golai"
                                  [items]="listOfGolaiValueBalli" bindLabel="name" bindValue="name" [searchable]="false"
                                  appendTo="body" (change)="getBalliPriceSingleValue(row)">
                                </ng-select>
                              </div>
                            </ion-col>

                            <!-- नग -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">संख्या</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box sankhya-input" fill="outline"
                                  [(ngModel)]="row.nag" type="number" min="0"
                                  (ionInput)="calculateTotalBalliRashi(row)">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- घन मीटर -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">आयतन (घ.मी.)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  [value]="row.ghan_meter" readonly></ion-input>
                              </div>
                            </ion-col>

                            <!-- Delete button -->
                            <ion-col size="12" size-lg="12" class="ion-text-end">
                              <ion-button fill="clear" color="danger" (click)="removeBalliInfo(i)">
                                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                              </ion-button>
                            </ion-col>

                          </ion-row>
                        </ion-grid>
                      </ion-list>
                    </ion-col>

                    <ion-col *ngIf="listOfBalliDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल बल्ली संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalBalligNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfBalliDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल बल्ली आयतन (घ.मी.)</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalBalliGhanMeter }}
                        </ion-label>
                      </div>
                    </ion-col>

                  </ion-row>


                  <!-- END BALLI KI JANKARI -->


                  <!-- CHIRAN KI JANKARI START-->

                  <ion-row class="kastha-card" *ngIf="isChiranSelected">
                    <!-- Header row -->
                    <ion-col size="10">
                      <ion-label class="instruction-label">चिरान का विवरण</ion-label>
                    </ion-col>

                    <ion-col size="2" class="ion-text-end">
                      <ion-button fill="clear" size="small" (click)="addChiranInfo()" class="add-btn">
                        <span style="font-size: 16px; font-weight: 600;">जोड़ें</span>
                      </ion-button>
                    </ion-col>

                    <ion-col size="12" *ngIf="listOfChiranaDetail.length > 0">
                      <ion-list lines="none">
                        <ion-grid *ngFor="let row of listOfChiranaDetail; let i = index" class="kastha-row">
                          <ion-row>

                            <!-- लम्बाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">लम्बाई (मीटर)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  (ionInput)="calculateGhanMeterChiran(row)" [(ngModel)]="row.lambai" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- चौड़ाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">चौड़ाई (सेंटी
                                  मीटर)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  (ionInput)="calculateGhanMeterChiran(row)" [(ngModel)]="row.golai" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- मोटाई -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">मोटाई (सेंटी
                                  मीटर)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  (ionInput)="calculateGhanMeterChiran(row)" [(ngModel)]="row.motai" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- नग -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">संख्या</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  (ionInput)="calculateGhanMeterChiran(row)" [(ngModel)]="row.nag" type="number"
                                  min="0">
                                </ion-input>
                              </div>
                            </ion-col>

                            <!-- घन मीटर -->
                            <ion-col size="6" size-lg="2">
                              <div>
                                <ion-label class="ion-text-extra-small" position="stacked">आयतन (घ.मी.)</ion-label>
                                <ion-input style="margin-top: 5px;" class="outlined-box2 sankhya-input" fill="outline"
                                  [value]="row.ghan_meter" readonly></ion-input>
                              </div>
                            </ion-col>

                            <!-- Delete button -->
                            <ion-col size="12" size-lg="12" class="ion-text-end">
                              <ion-button fill="clear" color="danger" (click)="removeChiranInfo(i)">
                                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                              </ion-button>
                            </ion-col>

                          </ion-row>
                        </ion-grid>
                      </ion-list>
                    </ion-col>

                    <ion-col *ngIf="listOfChiranaDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल चिरान संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalChiranNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfChiranaDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल आयतन (घ.मी.)</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalChiranGhanMeter }}
                        </ion-label>
                      </div>
                    </ion-col>

                  </ion-row>

                  <!-- CHIRAN KI JANKARI END -->


                  <ion-row class="kastha-card"
                    *ngIf="listOfKashthaDetail.length > 0 || listOfBalliDetail.length > 0 || listOfChiranaDetail.length > 0">
                    <ion-col size="12">
                      <ion-label class="instruction-label">महायोग</ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ mahayogtotalNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल आयतन (घ.मी.)</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ mahayogtotalGhanmeter }}
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>


                  <!-- BANSH KI JANKARI START -->
                  <ion-row class="kastha-card" *ngIf="isBanshSelected">

                    <ion-col size="10">
                      <ion-label class="instruction-label">बाँस का विवरण</ion-label>
                    </ion-col>

                    <ion-col size="2" class="ion-text-end">
                      <ion-button fill="clear" size="small" (click)="addBanshInfo()" class="add-btn">
                        <span style="font-size: 16px; font-weight: 600;">जोड़ें</span>
                      </ion-button>
                    </ion-col>

                    <ion-col size="12" *ngIf="listOfBanshDetail.length > 0">
                      <ion-list>
                        <ion-item *ngFor="let row of listOfBanshDetail; let i = index">

                          <ion-grid>

                            <ion-row>

                              <ion-col size="6" size-lg="3">
                                <div>
                                  <ion-label class="ion-text-extra-small">बाँस का प्रकार</ion-label>
                                  <ng-select style="margin-top: 5px;" fill="outline" class="nice-ng-select"
                                    [clearable]="false" placeholder="बाँस का प्रकार चुने" [(ngModel)]="row.prajati_type"
                                    [items]="listOfBanshType" bindLabel="name" bindValue="id" [searchable]="false"
                                    appendTo="body" (change)="resetAllBanshEntry(row)">
                                  </ng-select>
                                </div>

                              </ion-col>

                              <ion-col size="6" size-lg="3">
                                <div>
                                  <ion-label class="ion-text-extra-small">लम्बाई (मी.)</ion-label>
                                  <ng-select style="margin-top: 5px;" fill="outline" class="nice-ng-select"
                                    [clearable]="false" placeholder="बाँस की लम्बाई चुने" [(ngModel)]="row.lambai"
                                    [items]="setBanshList(row.prajati_type)" bindLabel="name" bindValue="name"
                                    [searchable]="false" appendTo="body" (change)="calculateNosionalTon(row)">
                                  </ng-select>
                                </div>

                              </ion-col>

                              <ion-col size="6" size-lg="3">
                                <div>
                                  <ion-label class="ion-text-extra-small">संख्या</ion-label>
                                  <ion-input style="margin-top: 5px;" [(ngModel)]="row.nag"
                                    class="outlined-box sankhya-input" fill="outline" type="number" min="0"
                                    (ionInput)="calculateNosionalTon(row)">
                                  </ion-input>
                                </div>
                              </ion-col>

                              <ion-col size="6" size-lg="3">
                                <div>
                                  <ion-label class="ion-text-extra-small">मात्रा (नोशनल टन)</ion-label>
                                  <ion-input style="margin-top: 5px;" [(ngModel)]="row.ghan_meter"
                                    class="outlined-box2 sankhya-input" fill="outline" readonly>
                                  </ion-input>
                                </div>
                              </ion-col>

                              <ion-col size="12" size-lg="12" class="ion-text-end">
                                <ion-button fill="clear" color="danger" (click)="removeBanshInfo(i)">
                                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                                </ion-button>
                              </ion-col>

                            </ion-row>

                          </ion-grid>

                        </ion-item>
                      </ion-list>
                    </ion-col>

                    <ion-col *ngIf="listOfBanshDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल व्यापारिक बाँस संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalVyaparikBanshNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfBanshDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल व्यापारिक बाँस मात्रा</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalVyaparikBanshMatra }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfBanshDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल औद्योगिक बाँस संख्या</ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalOdyogicBanshNag }}
                        </ion-label>
                      </div>
                    </ion-col>

                    <ion-col *ngIf="listOfBanshDetail.length > 0" size="12">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <ion-label class="instruction-label">कुल औद्योगिक बाँस मात्रा </ion-label>
                        <ion-label class="instruction-label" style="color: blue;">
                          {{ totalOdyogicBanshMatra }}
                        </ion-label>
                      </div>
                    </ion-col>

                  </ion-row>
                  <!-- BANSH KI JANKARI END -->

                </div>
              </div>
            </ion-col>
          </ion-row>




        </ion-grid>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>