<div class="dialog-container">
  <div class="dialog-content">
    <img src="assets/img/ic_cancel.png"
      class="close-icon"
      (click)=closeModel() />

    <ion-datetime presentation="date"
      display-format="DD/MM/YYYY"
      [(ngModel)]="selectedDate"
      placeholder="दिनांक चुने"
      [max]="maxDate">
    </ion-datetime>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="center-btn">
          <ion-button (click)="onSelectDate()">OK</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
