<ion-header class="ion-header-toolbar">

  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()" class="custom-back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="responsive-toolbar-title">
      {{ getTranslation('parivahan_ki_jankari') }} ({{toolbarTitle}})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-loading cssClass="custom-loading" [isOpen]="isLoading" [message]="loadingMessage"></ion-loading>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-text-center" style="gap: 12px;">

      <ion-col size="12" size-lg="2.7" class="summary-card gray-card">
        <div class="card-title">जप्त वनोपज का विवरण</div>

        <div class="card-row header-row">
          <div>वनोपज</div>
          <div>कुल संख्या</div>
          <div>कुल आयतन</div>
        </div>

        <div class="card-row">
          <div>लट्ठा</div>
          <div>{{prapt_lattha_kul_sankhya}}</div>
          <div>{{prapt_lattha_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>चिरान</div>
          <div>{{prapt_chiran_kul_sankhya}}</div>
          <div>{{prapt_chiran_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>बल्ली</div>
          <div>{{prapt_balli_kul_sankhya}}</div>
          <div>{{prapt_balli_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>फेंसिंग पोल</div>
          <div>{{prapt_fencing_pol_kul_sankhya}}</div>
          <div>{{prapt_fencing_pol_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>जलाऊ</div>
          <div>{{prapt_jalau_kul_sankhya}}</div>
          <div>{{prapt_jalau_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>बाँस</div>
          <div>{{prapt_bansh_kul_sankhya}}</div>
          <div>{{prapt_bansh_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>अन्य जप्त सामाग्री</div>
          <div>{{prapt_anya_japt_samagree_kul_sankhya}}</div>
          <div>{{prapt_anya_japt_samagree_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>योग</div>
          <div>{{prapt_vanopaj_kul_sankhya}}</div>
          <div>{{prapt_vanopaj_kul_aytan}}</div>
        </div>
      </ion-col>


      <ion-col size="12" size-lg="2.7" class="summary-card red-card">
        <div class="card-title">काष्ठागार/कार्यालय परिवहन किये जाने योग्य वनोपज</div>

        <div class="card-row header-row">
          <div>वनोपज</div>
          <div>कुल संख्या</div>
          <div>कुल आयतन</div>
        </div>

        <div class="card-row" *ngIf="isShowLattaRow">
          <div>लट्ठा</div>
          <div>{{dipo_parivahan_yogya_lattha_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_lattha_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowChiranRow">
          <div>चिरान</div>
          <div>{{dipo_parivahan_yogya_chiran_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_chiran_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBalliRow">
          <div>बल्ली</div>
          <div>{{dipo_parivahan_yogya_balli_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_balli_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowPolRow">
          <div>फेंसिंग पोल</div>
          <div>{{dipo_parivahan_yogya_fencing_pol_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_fencing_pol_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowJalauRow">
          <div>जलाऊ</div>
          <div>{{dipo_parivahan_yogya_jalau_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_jalau_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBanshiRow">
          <div>बाँस</div>
          <div>{{dipo_parivahan_yogya_bansh_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_bansh_kul_aytan}}</div>
        </div>

        <div class="card-row" *ngIf="isShowOtherJaptSaman">
          <div>अन्य जप्त सामाग्री</div>
          <div>{{dipo_parivahan_yogya_anya_japt_samagree_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_anya_japt_samagree_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>योग</div>
          <div>{{dipo_parivahan_yogya_vanopaj_kul_sankhya}}</div>
          <div>{{dipo_parivahan_yogya_vanopaj_kul_aytan}}</div>
        </div>
      </ion-col>

      <ion-col size="12" size-lg="2.7" class="summary-card green-card">
        <div class="card-title">काष्ठागार/कार्यालय परिवहित वनोपज</div>

        <div class="card-row header-row">
          <div>वनोपज</div>
          <div>कुल संख्या</div>
          <div>कुल आयतन</div>
        </div>

        <div class="card-row" *ngIf="isShowLattaRow">
          <div>लट्ठा</div>
          <div>{{dipo_parivahit_lattha_kul_sankhya}}</div>
          <div>{{dipo_parivahit_lattha_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowChiranRow">
          <div>चिरान</div>
          <div>{{dipo_parivahit_chiran_kul_sankhya}}</div>
          <div>{{dipo_parivahit_chiran_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBalliRow">
          <div>बल्ली</div>
          <div>{{dipo_parivahit_balli_kul_sankhya}}</div>
          <div>{{dipo_parivahit_balli_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowPolRow">
          <div>फेंसिंग पोल</div>
          <div>{{dipo_parivahit_fencing_pol_kul_sankhya}}</div>
          <div>{{dipo_parivahit_fencing_pol_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowJalauRow">
          <div>जलाऊ</div>
          <div>{{dipo_parivahit_jalau_kul_sankhya}}</div>
          <div>{{dipo_parivahit_jalau_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBanshiRow">
          <div>बाँस</div>
          <div>{{dipo_parivahit_bansh_kul_sankhya}}</div>
          <div>{{dipo_parivahit_bansh_kul_aytan}}</div>
        </div>

        <div class="card-row" *ngIf="isShowOtherJaptSaman">
          <div>अन्य जप्त सामाग्री</div>
          <div>{{dipo_parivahit_anya_japt_samagree_kul_sankhya}}</div>
          <div>{{dipo_parivahit_anya_japt_samagree_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>योग</div>
          <div>{{dipo_parivahit_vanopaj_kul_sankhya}}</div>
          <div>{{dipo_parivahit_vanopaj_kul_aytan}}</div>
        </div>
      </ion-col>

      <ion-col size="12" size-lg="2.7" class="summary-card yellow-card">
        <div class="card-title">काष्ठागार/कार्यालय परिवहन हेतु शेष वनोपज</div>

        <div class="card-row header-row">
          <div>वनोपज</div>
          <div>कुल संख्या</div>
          <div>कुल आयतन</div>
        </div>

        <div class="card-row" *ngIf="isShowLattaRow">
          <div>लट्ठा</div>
          <div>{{dipo_parivahan_hetu_shesh_lattha_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_lattha_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowChiranRow">
          <div>चिरान</div>
          <div>{{dipo_parivahan_hetu_shesh_chiran_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_chiran_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBalliRow">
          <div>बल्ली</div>
          <div>{{dipo_parivahan_hetu_shesh_balli_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_balli_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowPolRow">
          <div>फेंसिंग पोल</div>
          <div>{{dipo_parivahan_hetu_shesh_fencing_pol_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_fencing_pol_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowJalauRow">
          <div>जलाऊ</div>
          <div>{{dipo_parivahan_hetu_shesh_jalau_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_jalau_kul_aytan}}</div>
        </div>
        <div class="card-row" *ngIf="isShowBanshiRow">
          <div>बाँस</div>
          <div>{{dipo_parivahan_hetu_shesh_bansh_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh__bansh_kul_aytan}}</div>
        </div>

        <div class="card-row" *ngIf="isShowOtherJaptSaman">
          <div>अन्य जप्त सामाग्री</div>
          <div>{{dipo_parivahan_hetu_shesh_anya_japt_samagree_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_anya_japt_samagree_kul_aytan}}</div>
        </div>
        <div class="card-row">
          <div>योग</div>
          <div>{{dipo_parivahan_hetu_shesh_vanopaj_kul_sankhya}}</div>
          <div>{{dipo_parivahan_hetu_shesh_vanopaj_kul_aytan}}</div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="listOfChallanDetail.length > 0">
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-lg="11">

        <ion-col size="12">

          <ion-card>
            <ion-card-content>

              <ion-grid *ngFor="let row of listOfChallanDetail; let i = index" class="kastha-row">

                <ion-row>

                  <ion-col size="6" size-lg="2">
                    <div>
                      <ion-label class="ion-text-extra-small">चालान क्रमांक</ion-label>
                      <ion-input style="margin-top: 5px;" [(ngModel)]="row.challan_kramank" class="outlined-box"
                        fill="outline">
                      </ion-input>
                    </div>
                  </ion-col>

                  <ion-col size="6" size-lg="2">
                    <ion-label class="ion-text-extra-small">दिनांक</ion-label>
                    <ion-item (click)="selectWorkChallanDate(row)" lines="none" class="bordered-item">
                      <ion-label class="date-label">
                        {{ row.challan_date ? (row.challan_date | date:'dd-MM-yyyy') : 'दिनांक' }}
                      </ion-label>
                      <!-- <ion-icon slot="end" name="calendar-outline" class="calendar-icon"></ion-icon> -->
                    </ion-item>
                  </ion-col>

                  <ion-col size="6" size-lg="2">
                    <div>
                      <ion-label class="ion-text-extra-small">वनोपज का प्रकार</ion-label>
                      <ng-select style="margin-top: 5px;" class="nice-ng-select" [clearable]="false"
                        placeholder="वनोपज का प्रकार चुने" [(ngModel)]="row.vanopaj_type" [items]="vanopajTypeList"
                        bindLabel="name" bindValue="id" [searchable]="true" appendTo="body"
                        (ngModelChange)="onVanopajTypeChange($event, row)">
                      </ng-select>
                    </div>
                  </ion-col>

                  <ion-col size="6" size-lg="2">
                    <div>
                      <ion-label class="ion-text-extra-small">कुल संख्या</ion-label>
                      <ion-input class="outlined-box" fill="outline" style="margin-top: 5px;" type="number"
                        [(ngModel)]="row.total_matra_in_sankhya" (ionInput)="calculateTotalSankhyaToSentDep()" min="0">
                      </ion-input>
                    </div>

                  </ion-col>

                  <ion-col size="6" size-lg="2">
                    <div>
                      <ion-label class="ion-text-extra-small">कुल मात्रा (घ.मी.)</ion-label>
                      <ion-input class="outlined-box" fill="outline" style="margin-top: 5px;" type="number"
                        [(ngModel)]="row.total_matra_in_ghan_meter" (ionInput)="calculateTotalGhanMeterToSentDep()"
                        [readonly]="row.is_ghanmter_readonly" min="0">
                      </ion-input>
                    </div>

                  </ion-col>

                  <ion-col size="6" size-lg="2">
                    <div>
                      <ion-label class="ion-text-extra-small">काष्ठागार/कार्यालय का नाम</ion-label>
                      <ion-input class="outlined-box" fill="outline" style="margin-top: 5px;"
                        [(ngModel)]="row.depo_name">
                      </ion-input>
                    </div>

                  </ion-col>


                  <ion-row class="date-picker-card" style="margin: 5px;">

                    <ion-col size="10" class="ion-align-self-center">
                      <ion-label class="instruction-label" style="align-items: center;">चालान की प्रति अपलोड
                        करें</ion-label>
                    </ion-col>

                    <ion-col size="1" class="ion-align-self-center">
                      <ion-button fill="clear" size="small" (click)="takeChallanPhoto(i)" class="camera-btn">
                        <ion-icon style="color: black;" size="large" slot="icon-only" name="camera-outline"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col size="5" *ngIf="row.challan_image">
                      <div class="horizontal-scroll-wrapper">
                        <img [src]="row.challan_image" class="scroll-image" />
                      </div>
                    </ion-col>

                  </ion-row>

                  <ion-col size="2" size-lg="1" class="ion-text-center ion-align-self-center">
                    <ion-button fill="clear" color="danger" (click)="removeChallan(i)">
                      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>

                </ion-row>

              </ion-grid>

              <ion-grid>
                <ion-row>

                  <ion-col *ngIf="listOfChallanDetail.length > 0" size="12">
                    <ion-row class="summary-row ion-align-items-center">

                      <ion-col size-lg="6" size="12">
                        <ion-row>
                          <ion-col size="8" size-lg="11">
                            <ion-label class="instruction-label" style="font-weight: 700;">कुल संख्या
                            </ion-label>
                          </ion-col>
                          <ion-col size="4" size-lg="1">
                            <ion-label class="instruction-label" style="color: blue;">
                              {{ totalSankhyaWhichSentToDEOP }}
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-col>

                      <ion-col size-lg="6" size="12">
                        <ion-row>
                          <ion-col size="8" size-lg="11">
                            <ion-label class="instruction-label" style="font-weight: 700;">कुल मात्रा (घ.मी.)
                            </ion-label>
                          </ion-col>
                          <ion-col size="4" size-lg="1">
                            <ion-label class="instruction-label" style="color: blue;">
                              {{ totalGhanMeterWhichSentToDEOP }}
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-col>

                    </ion-row>
                  </ion-col>

                  <ion-col *ngIf="listOfChallanDetail.length > 0" size="12" size-lg="6">
                    <ion-button (click)="submitDataToServer()" class="submit-button" style="margin-top: 15px;">
                      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                      SUBMIT
                    </ion-button>
                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-card-content>
          </ion-card>

        </ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid
    *ngIf="(challanDetailList && challanDetailList.length > 0) || (listOfChallanDetail.length > 0); else noData">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="11">
        <p-table *ngIf="challanDetailList.length > 0" [value]="challanDetailList" responsiveLayout="stack"
          class="custom-margin-table">

          <ng-template pTemplate="header">
            <tr>
              <th>
                <ion-label class="center-label">
                  क्र.
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  चालान क्रमांक
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  चालान दिनाँक
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  वनोपज का प्रकार
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  कुल संख्या
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  कुल आयतन
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  काष्ठागार/कार्यालय का नाम
                </ion-label>
              </th>
              <th>
                <ion-label class="center-label">
                  चालान की प्रति
                </ion-label>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr class="custom-table-row">
              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">क्र.</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ i + 1 }}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">चालान क्रमांक</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.challan_kramank}}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">चालान दिनाँक</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.challan_date}}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">वनोपज का प्रकार</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.vanopaj_type}}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">कुल संख्या</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.total_matra_in_sankhya}}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">कुल आयतन</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.total_matra_in_ghan_meter}}
                </ion-label>
              </td>

              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">काष्ठागार/कार्यालय का नाम</ion-label>
                </span>
                <ion-label class="center-label">
                  {{ item.depo_name}}
                </ion-label>
              </td>



              <td>
                <span class="p-column-title">
                  <ion-label class="ion-label-small" style="color: blue;">चालान की प्रति</ion-label>
                </span>
                <ion-label class="center-label ion-text-end">
                  <img [src]="getFullPathImage(item.challan_image)" class="complain-image-for-src"
                    (click)="showImageAlert(item.challan_image)" (error)="onImageError($event)" />
                </ion-label>
              </td>


              <td colspan="9" *ngIf="!isWebPlatform()">
                <div style="height: 1px; background-color: #ccc; width: 100%; margin: 4px 0;"></div>
              </td>
            </tr>
          </ng-template>

        </p-table>

        <ion-grid *ngIf="(challanDetailList && challanDetailList.length > 0)">

          <ion-row class="summary-row ion-align-items-center">

            <ion-col size-lg="6" size="12">
              <ion-row>
                <ion-col size="10">
                  <ion-label class="ion-label-small" style="color: blue;">कुल प्रेषित संख्या</ion-label>
                </ion-col>

                <ion-col size="2" class="ion-text-end">
                  <ion-label style="color: #000;" class="ion-text-lg-end ion-margin-bottom">{{ totalDispatchedSankhya
                    }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size-lg="6" size="12">
              <ion-row>
                <ion-col size="10">
                  <ion-label class="ion-label-small" style="color: blue;">कुल प्रेषित मात्रा (घ.मी.)</ion-label>
                </ion-col>

                <ion-col size="2" class="ion-text-end">
                  <ion-label style="color: #000;" class="ion-text-lg-end ion-margin-bottom">{{ totalDispatchedGhanmeter
                    }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-col>

      <ion-col size="12" size-lg="10">

      </ion-col>


    </ion-row>
  </ion-grid>

  <!-- ❌ No data fallback -->
  <ng-template #noData>
    <div style="text-align: center; margin-top: 50px;">
      <ion-text color="medium">
        <h2>अभी तक परिवहन का विवरण इंद्राज नहीं किया गया है | परिवहन का विवरण इंद्राज करने हेतु बटन क्लिक करें |
        </h2>
      </ion-text>
    </div>
  </ng-template>

</ion-content>

<ion-footer class="vasuli-add-footer">
  <ion-toolbar>
    <div class="vasuli-add-footer__inner">
      <ion-button class="vasuli-add-btn" expand="block" (click)="addChallanDetail()">
        जप्त वनोपज के परिवहन जोड़ें
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>