<ion-content class="ion-padding">

  <!-- <app-inauguration *ngIf="showInauguration" (completed)="showInauguration = false">
  </app-inauguration> -->



  <div class="splash-container">
    <div class="logo-container">
      <img src="assets/img/app_logo.png" class="app-logo" alt="App Logo" />
    </div>

    <div class="content-container">
      <h1 class="app-title">{{ getTranslation('splash') }}</h1>

      <div class="loading-container">
        <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
        <p class="loading-text">Loading...</p>
      </div>
    </div>
  </div>
</ion-content>