<div class="dialog-wrapper">

  <div class="top-bar">
    <h2>विकल्प चयन करे</h2>
    <ion-icon name="close-circle-outline" class="close-icon" (click)="onClose()"></ion-icon>
  </div>

  <!-- <p class="subtitle">नीचे दिए गए विकल्पों में से किसी एक को चुनें</p> -->

  <div class="button-grid">
    <ion-button expand="block" shape="round" color="primary" (click)="onOptionSelect(1)" *ngIf="show_prakaran_prativendan">
      <!-- <ion-icon name="home-outline" slot="start"></ion-icon> -->
      कार्यवाही का तख्ता
    </ion-button>

    <ion-button expand="block" shape="round" color="success" (click)="onOptionSelect(2)"
      *ngIf="show_prakaran_prativendan">
      <!-- <ion-icon name="leaf-outline" slot="start"></ion-icon> -->
      वन अपराध प्रकरण प्रतिवेदन
    </ion-button>

    <ion-button expand="block" shape="round" color="warning" (click)="onOptionSelect(3)">
      <!-- <ion-icon name="construct-outline" slot="start"></ion-icon> -->
      वसूली का विवरण
    </ion-button>

    <ion-button expand="block" shape="round" color="danger" (click)="onOptionSelect(4)">
      <!-- <ion-icon name="alert-circle-outline" slot="start"></ion-icon> -->
      परिवहन का विवरण
    </ion-button>
  </div>

</div>