<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="dialog-container">

    <!-- Old Password -->
    <ion-item class="input-item" lines="none">

      <ion-input [type]="showOldPassword ? 'text' : 'password'" label="पुराना पासवर्ड" labelPlacement="floating"
        [(ngModel)]="oldPassword">
      </ion-input>

      <ion-button fill="clear" slot="end" (click)="showOldPassword = !showOldPassword">
        <ion-icon [name]="showOldPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Password -->
    <ion-item class="input-item" lines="none">

      <ion-input [type]="showPassword1 ? 'text' : 'password'" label="नया पासवर्ड" labelPlacement="floating"
        [(ngModel)]="password1">
      </ion-input>

      <ion-button fill="clear" slot="end" (click)="showPassword1 = !showPassword1">
        <ion-icon [name]="showPassword1 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Confirm Password -->
    <ion-item class="input-item" lines="none">
      <ion-input [type]="showPassword2 ? 'text' : 'password'" label="नया पासवर्ड पुष्टि करें" labelPlacement="floating"
        [(ngModel)]="password2">
      </ion-input>

      <ion-button fill="clear" slot="end" (click)="showPassword2 = !showPassword2">
        <ion-icon [name]="showPassword2 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="block" class="submit-btn" (click)="submit()">

      Submit
    </ion-button>

  </div>

</ion-content>