<div class="dialog-wrapper">
    <div class="dialog-content">
        <ion-text class="responsive-label text-content">
            आपके पास इंटरनेट उपलब्ध नहीं है | क्या आप ऑफलाइन मोड में एप्लीकेशन खोलना चाहते है |
        </ion-text>
    </div>

    <div class="dialog-actions">
        <ion-button class="modern-btn" shape="round" color="success" (click)="yesClick()">
            हाँ
        </ion-button>
        <ion-button class="modern-btn" shape="round" color="medium" fill="outline" (click)="noClick()">
            नहीं
        </ion-button>
    </div>
</div>